.App {
  text-align: center;
}

#table {
  width: 1000px;
  height: auto;
  margin: auto;
}

#rewardPoints{
  text-align: right;
}

#tr th{
  background-color: rgb(95, 146, 0);
}

.App h1{
   text-align: center;
   color:blueviolet;
   background-color: aliceblue;
}

#table h1{
  text-align: left;
}